@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Merriweather';
    src: url('/fonts/ttf/Merriweather-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Merriweather', fallback-fonts, serif;
}
